$longQueryWidth: 352px;


.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

/* 水平方向-水平垂直居中 */
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 垂直方向-水平垂直居中 */
.flex-center-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 垂直方向-垂直居中 */
.flex-column-c {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* 水平方向-垂直居中 */
.flex-vertical-center {
  display: flex;
  align-items: center;
}

/* 行内水平方向-垂直居中 */
.inlineflex-vertical-center {
  display: inline-flex;
  align-items: center;
}

/* 水平反方向-垂直居中 */
.flex-reverse-vertical {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

/* 垂直方向-水平居中 */
.flex-center-horizontal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex1{
  flex: 1
}

.flex-g {
  flex-grow: 1;
}

.flex-wrap {
  flex-wrap: wrap;
}

.space-between {
  justify-content: space-between;
}

.text-maxline-all {
  word-break: break-all;
  word-wrap: break-word;
}

/* 文本最多显示两行，超出显示省略号 */
.text-maxline-3 {
  @extend .text-maxline-base;
  -webkit-line-clamp: 3;
}

/* 文本最多显示两行，超出显示省略号 */
.text-maxline-2 {
  @extend .text-maxline-base;
  -webkit-line-clamp: 2;
}

/* 文本最多显示一行，超出显示省略号 */
.text-maxline-1 {
  @extend .text-maxline-base;
  -webkit-line-clamp: 1;
}

.text-maxline-base {
  display: -webkit-box;
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  /*! autoprefixer  : ignore next */
  -webkit-box-orient: vertical;
}

// 列表页公共样式
.query-form-container {
  padding: 10px 8px;
  margin-bottom: 8px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px rgba(197, 206, 225, 0.16);
  .el-input,
  .el-input-number,
  .el-select,
  .el-cascader,
  .el-date-editor--date {
    // width: 180px;
    width: 120px;
  }

  .el-date-editor--daterange,
  .el-date-editor--datetimerange {
    // width: 220px;
    width: $longQueryWidth;
  }

  .combine-input {
    width: $longQueryWidth;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;

    .el-input {
      width: 165px;
    }
  }

  .el-form-item--small.el-form-item {
    margin: 6px 4px;
  }
}

.query-btn-container {
  // padding-left: 100px;
  margin-top: 5px;
  margin-bottom: 8px;
}
.pagination-container {
  padding-left: 10px;
  margin-top: 10px;
}
.detail-root-container {
  padding: 10px;
  background-color: #fff;
  box-shadow: 0px 2px 4px rgba(197, 206, 225, 0.16);
  border-radius: 4px;
}

// .el-dialog {
//   margin-top: 2vh !important;
// }
// :has(> .el-overlay-dialog) {
//   pointer-events: none !important;//dialog外包裹的盒子区域设置鼠标不再操作当前层
// }
// .el-dialog__header,.el-dialog__body,.el-dialog__footer, {
//   pointer-events: auto !important;//dialog真正区域设置鼠标操作当前层
// }
// .main-dialog{
//   width: calc(100% - 224px) !important;
//   height: calc(100% - 90px) !important;
//   margin: 90px 0 0 224px !important;
// }

.text-right{
  text-align: right !important;
}
.text-center{
  text-align: center !important;
}
.text-bold{
  font-weight: bold !important;
}
